<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/stylesheet/app.css">
        	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
	<meta name="viewport" content="width=500, initial-scale=1">
        <title>Ablog</title>
        <link rel="icon" type="Icon (.ico)" href="https://www.clipartmax.com/png/middle/34-347626_animal-face-logo-raccoon-vicious-wild-logo-raccoon-clipart.png">
    </head>
    <body>
        <div class="ui fixed inverted menu ">
            <div class="ui container">
                <a href="/" >
                    <div class="header huge huge item" style="display:inline-block">
                        <i class="brown file alternate outline icon" style="float:left"></i><h3>Ablog</h3>
                    </div> 
                </a>
                <a href="/" class="item">Home</a>
                <a href="/blog/new" class="item">New Post</a>
                <a href="/about" class="item">About Us</a>
                
            </div>
        </div>
