<% include ./partials/header %>

<div class="ui main text container segment" style='margin-top:7em'>
    <h1>About Us</h1>
    <p>Nothing special.. We are just an ordinary people who enjoy by making you laugh</p>
    <p>And our privacy is our privacy none of yours!! ^-^</p>
</div>