<% include ./partials/header %>
<div class="ui main text container segment" style='margin-top:7em'>
    <div class="ui huge header">NEW BLOG</div>
    <form class="ui form" method="POST" action="/blog">
    <div class="field">
        <label>Title</label>
        <input type="text" placeholder="Title" name="blog[title]">
    </div>
    <div class="field">
            <label>Image</label>
            <input type="text" placeholder="Title" name="blog[image]">
    </div>
    <div class="field">
        <label>Body</label>
        <textarea name="blog[body]" required></textarea>
    </div>
    <div class="ui inverted sement">
        <button class="ui inverted primary button">Submit</button>
    </div>
    </form>
</div>


<% include ./partials/footer %>